<%= render "bricks/navbar" %>
<div class="container">
  <h2><%= @article.title %></h2>
  <%= simple_format h(@article.body) %>
  <span class="author">by : <strong><%= @article.user.email %></strong></span>
  <% if current_user %>
    <h3>Add a comment</h3>
    <%= simple_form_for @comment, url: blog_create_comment_path(article_id: @article.id), input_html: {class: "col-6"}, method: 'post' do |f| %>
      <%= f.input :content, label: false %>
      <%= f.button :submit, "Add new comment", class: "w-50 btn btn-primary" %>
    <% end %>
  <% end %>
  <%= link_to "< Prev", blog_show_path(prev_article), class: "btn btn-secondary text-white" unless prev_article.class !=  Integer %>
  <%= link_to "Next >", blog_show_path(next_article), class: "btn btn-secondary text-white" unless next_article.class !=  Integer %>
  <% @comments = @article.comments %>
  <% unless @comments.empty? %>
    <h3>All the comments</h3>
    <div class="comments">
      <ul class="list-group">
        <% @comments.order(created_at: :desc).each do |comment| %>
          <li class="list-group-item <%= 'border border-info' if current_user == comment.user %>">
            <%= simple_format(h(comment.content), style: 'font-size: 1.5em;') %>
            <p class="commenter">
              <strong><%= comment.user.email %></strong> on <i><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></i>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
