<%= render "bricks/navbar" %>
<div class="container">
  <h2><%= @article.title %></h2>
  <p><%= @article.body %></p>
  <span class="author">by : <strong><%= @article.user.email %></strong></span>
  <% if current_user %>
    <h3>Add a comment</h3>
    <%= simple_form_for @comment, url: blog_create_comment_path(article_id: @article.id, user_id: current_user.id), input_html: {class: "col-6"}, method: 'post' do |f| %>
      <%= f.input :content, label: false %>
      <%= f.button :submit, "Add new comment", class: "w-50 btn btn-primary" %>
    <% end %>
  <% end %>
  <% @comments = @article.comments %>
  <% unless @comments.empty? %>
    <h3>All the comments</h3>
    <div class="comments">
      <ul class="list-group">
        <% @comments.order(created_at: :desc).each do |comment| %>
          <li class="list-group-item">
            <p style="font-size: 1.5em;">
              <%= comment.content %>
            </p>
            <p class="commenter">
              <strong><%= comment.user.email %></strong> on <i><%= comment.created_at.strftime("%d/%m/%Y") %></i>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
